body{
    background-color: tomato;
    
}

.container
{
    background-color: white;
    width: 50%;
    height: 400px;
    margin: auto auto;
    border-radius: 10px;
}

.heading
{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.incontainer
{
    /* border: 2px solid red; */
    display: flex;
}
.child
{
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
    margin: 20px;
    padding: 10px;
}

#para
{
    text-align: center;
    font-size: 40px;
}

#btn
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button
{
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    margin: auto auto;
    padding: 10px;
    background-color: tomato;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

button:hover
{
    color: white;
    background-color: rgb(139, 33, 14);
}

p{
    font-weight: bold;
}
/* table,th,td
{
    border: 1px solid black;
    padding: 2px;
} */